@charset "utf-8";

.right-area{position: absolute;top: 200px;right: 20px;}
.right-area>ul,.has-depth>ul{margin-bottom: 10px;}
.right-area>ul:last-child{margin-bottom: 0;}
.right-area>ul>li{box-shadow: 2px 2px 5px rgb(80 80 166 / 20%);border-radius: 5px;background-color: #fff;float: none;border: 1px solid #5151a6;margin-bottom: 10px;}
.right-area>ul>li.has-depth.on>a{background-color: #3366ff;}
.right-area>ul>li>a,.right-area>ul>li>button,.has-depth>ul>li>a{cursor: pointer;border: 0;display: block;width: 40px;height: 40px;background-position: center center;background-repeat: no-repeat;}
.right-area>ul>li>a.click{background-image: url(../images/click-on.png);}
.right-area>ul>li.on>a.click{background-image: url(../images/click-lock.png);}

.has-depth{position: relative;}
.has-depth::before{content: '';position: absolute;display: block;width: 7px;height: 7px;bottom: 2px;left: 2px;background-image: url(../images/map/map-more.png);background-position: center center;background-repeat: no-repeat;}
.has-depth.on::before{background-image: url(../images/map-more-on.png);}
.has-depth>ul{display: none;border-radius: 5px;position: absolute;top: -1px; right: 50px;overflow: hidden;border: 1px solid #5151a6;}
.has-depth.on>ul{display: flex;}
.has-depth>ul>li{background-color: #fff;}
.has-depth>ul>li:last-child{border-right: 0;}
.icon_label{box-sizing: unset;border: 1px solid  #5879A4; border-radius: 2px;width:20px; height: 20px;display: flex;justify-content: center;align-items: center;  background: url("../images/map/icon_label.png"); background-color: #fff; background-repeat: no-repeat; background-position: center center; cursor: pointer}
.icon_label.on{background:#5879A4 url("../images/map/icon_label_on.png");}
.icon_label:hover{background:#5879A4 url("../images/map/icon_label_on.png");}





.right-area{position: absolute;top: 80px;right: 20px;}
.right-area>ul,.has-depth>ul{margin-bottom: 10px;}
.right-area>ul:last-child{margin-bottom: 0;}
.right-area>ul>li{box-shadow: 2px 2px 5px rgb(80 80 166 / 20%);border-radius: 5px;background-color: #fff;float: none;border: 1px solid #5151a6;margin-bottom: 5px;}
.right-area>ul>li.group{margin-bottom:0;border-radius:0;border-bottom:0;}

.right-area>ul>li.group:last-child{border-bottom:1px solid #5151a6;border-radius:0 0 5px 5px}
/* .right-area>ul>li.on>a{background-color: #3366ff;} */

.right-area>ul>li:on>a.map-all{box-shadow: 2px 2px 5px rgb(80 80 166 / 20%);border-radius: 5px;background-color: #fff;float: none;border: 1px solid #5151a6;margin-bottom: 5px;}

.right-area>ul>li:hover>a.map-all{background-color: #3366ff;}
.right-area>ul>li:hover>a.map-clear{background-color: #3366ff;}
.right-area>ul>li>a,.right-area>ul>li>button,.has-depth>ul>li>a{cursor: pointer;border: 0;display: block;width: 40px;height: 40px;background-position: center center;background-repeat: no-repeat;}
.right-area>ul>li>a.click{background-image: url(../images/click-on.png);}
.right-area>ul>li.on>a.click{background-image: url(../images/click-lock.png);}

.has-depth{position: relative;}
.has-depth::before{content: '';position: absolute;display: block;width: 7px;height: 7px;bottom: 2px;left: 2px;background-image: url(../images/map/map-more.png);background-position: center center;background-repeat: no-repeat;}
.has-depth.on::before{background-image: url(../images/map/map-more-on.png);}
.has-depth>ul{display: none;border-radius: 5px;position: absolute;top: -1px; right: 50px;overflow: hidden;border: 1px solid #5151a6;}
.has-depth.on>ul{display: flex;}
.has-depth>ul>li{background-color: #fff;}
.has-depth>ul>li:last-child{border-right: 0;}

/* 아이콘 */
.right-area a{background-repeat: no-repeat;background-position: center center;}

/* 지도편집 */
.right-area .map-edit{background-image: url(../images/map/b01.png);}
/* 측정도구 */
.right-area .map-range{background-image: url(../images/map/b02.png);}
/* 그리기도구 */
.right-area .map-drow{background-image: url(../images/map/b03.png);}
/* 인쇄 */
.right-area .map-print{background-image: url(../images/map/b04.png);}
/* 배경지도 */
.right-area .map-style{background-image: url(../images/map/b05.png);}
/* 전체화면 */
.right-area .map-all{background-image: url(../images/map/toolbar_h01.png);}
/* 초기화 */
.right-area .map-clear{background-image: url(../images/map/toolbar_h02.png);}
/* 이동 */
.right-area .map-pre{background-image: url(../images/map/toolbar_h07.png);}
.right-area .map-post{background-image: url(../images/map/toolbar_h08.png);}
/* 확대축소 */
.right-area .map-zoom-up{background-image: url(../images/map/toolbar_h05.png);}
.right-area .map-zoom-down{background-image: url(../images/map/toolbar_h06.png);}


.right-area li.on .map-edit{background-image: url(../images/map/b01_ov.png);}
.right-area li.on .map-range{background-image: url(../images/map/b02_ov.png);}
.right-area li.on .map-drow{background-image: url(../images/map/b03_ov.png);}
.right-area li.on .map-print{background-image: url(../images/map/b04_ov.png);}
.right-area li.on .map-style{background-image: url(../images/map/b05_ov.png);}
.right-area li:hover .map-all{background-image: url(../images/map/toolbar_h01_ov.png);}
.right-area li.hover .map-clear{background-image: url(../images/map/toolbar_h02_ov.png);}
.right-area li.hover .map-pre{background-image: url(../images/map/toolbar_h07_ov.png);}
.right-area li.hover .map-post{background-image: url(../images/map/toolbar_h08_ov.png);}
.right-area li.hover .map-zoom-up{background-image: url(../images/map/toolbar_h05_ov.png);}
.right-area li.hover .map-zoom-down{background-image: url(../images/map/toolbar_h06_ov.png);}

/* 편집도구 */
.right-area .has-depth>ul>li>a{background-position: center center;background-repeat: no-repeat;}
.right-area .has-depth>ul>li:hover{background-color: #3366ff;}
.right-area .has-depth>.map-edit + ul>li:nth-child(1)>a{background-image: url(../images/map/m0101.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(2)>a{background-image: url(../images/map/m0102.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(3)>a{background-image: url(../images/map/m0103.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(4)>a{background-image: url(../images/map/m0104.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(5)>a{background-image: url(../images/map/m0105.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(6)>a{background-image: url(../images/map/m0107.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(7)>a{background-image: url(../images/map/m0108.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(8)>a{background-image: url(../images/map/m0109.png);}

.right-area .has-depth>.map-edit + ul>li:nth-child(1):hover>a{background-image: url(../images/map/m0101_ov.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(2):hover>a{background-image: url(../images/map/m0102_ov.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(3):hover>a{background-image: url(../images/map/m0103_ov.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(4):hover>a{background-image: url(../images/map/m0104_ov.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(5):hover>a{background-image: url(../images/map/m0105_ov.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(6):hover>a{background-image: url(../images/map/m0107_ov.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(7):hover>a{background-image: url(../images/map/m0108_ov.png);}
.right-area .has-depth>.map-edit + ul>li:nth-child(8):hover>a{background-image: url(../images/map/m0109_ov.png);}
/* 편집도구 */

/* 지도서비스 툴바 */
.right-area .has-depth>.map-range + ul>li:nth-child(1)>a{background-image: url(../images/map/m0201.png);}
.right-area .has-depth>.map-range + ul>li:nth-child(2)>a{background-image: url(../images/map/m0202.png);}

.right-area .has-depth>.map-range + ul>li:nth-child(1):hover>a{background-image: url(../images/map/m0201_ov.png);}
.right-area .has-depth>.map-range + ul>li:nth-child(2):hover>a{background-image: url(../images/map/m0202_ov.png);}

.right-area .has-depth>.map-drow + ul>li:nth-child(1)>a{background-image: url(../images/map/m0301.png);}
.right-area .has-depth>.map-drow + ul>li:nth-child(2)>a{background-image: url(../images/map/m0302.png);}
.right-area .has-depth>.map-drow + ul>li:nth-child(3)>a{background-image: url(../images/map/m0303.png);}

.right-area .has-depth>.map-drow + ul>li:nth-child(1):hover>a{background-image: url(../images/map/m0301_ov.png);}
.right-area .has-depth>.map-drow + ul>li:nth-child(2):hover>a{background-image: url(../images/map/m0302_ov.png);}
.right-area .has-depth>.map-drow + ul>li:nth-child(3):hover>a{background-image: url(../images/map/m0303_ov.png);}

.right-area .has-depth>.map-print + ul>li:nth-child(1)>a{background-image: url(../images/map/m0401.png);}
.right-area .has-depth>.map-print + ul>li:nth-child(2)>a{background-image: url(../images/map/m0402.png);}

.right-area .has-depth>.map-print + ul>li:nth-child(1):hover>a{background-image: url(../images/map/m0401_ov.png);}
.right-area .has-depth>.map-print + ul>li:nth-child(2):hover>a{background-image: url(../images/map/m0402_ov.png);}

.right-area .has-depth>.map-style + ul>li:nth-child(1)>a{background-image: url(../images/map/m0501.png);}
.right-area .has-depth>.map-style + ul>li:nth-child(2)>a{background-image: url(../images/map/m0502.png);}

.right-area .has-depth>.map-style + ul>li:nth-child(1):hover>a{background-image: url(../images/map/m0501_ov.png);}
.right-area .has-depth>.map-style + ul>li:nth-child(2):hover>a{background-image: url(../images/map/m0502_ov.png);}
/* 지도서비스 툴바 */